
*{
      margin:0;
      padding:0;
      -webkit-box-sizing:border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;	
  }

  body{
      background-color:#0D0F19;
      font-family: Inter, sans-serif;
      color: #fff;
      font-size: 16px;
      line-height: 22px;
  }

  .navbar{
      display:flex;
      align-items:center;
      padding:12px 0;
  }

  .container{
      max-width:100%;
      padding-left:80px;
      padding-right:80px;
  }

  .row{
      display:flex;
      align-items:center;
      flex-wrap:wrap;
      justify-content:space-between;
  }

  .col-2{
      flex-basis:50%;  
  }

  h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 48px;
    line-height: 54px;
    font-weight: 700;
  }

  h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 42px;
    line-height: 48px;
    font-weight: 700;
  }

  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
  }

  h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
  }

  h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
  }

  h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
  }

  p {
    margin-bottom: 10px;
    font-family: Inter, sans-serif;
    color: #c2c3c5;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
  }

  a {
    font-family: Inter, sans-serif;
    color: #c2c3c5;
    font-weight: 700;
    text-decoration: none;
  }

  ul {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 40px;
    font-size: 16px;
    line-height: 22px;
  }

  ol {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 40px;
    font-size: 16px;
    line-height: 22px;
  }

  img {
    display: inline-block;
    max-width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;
  }

  .hero-title {
  max-width: 100%;
  margin-top: 60px;
  padding-left: 0px;
  float: none;
  clear: none;
  color: #fff;
  font-size: 60px;
  line-height: 54px;
  text-align: left;
  text-decoration: line-through;
  }

  .paragraph-4 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 0px;
    line-height: 26px;
    
  }

  .paragraph-4.about-me {
    padding-left: 0px;
    font-size: 16px;
  }

  .hero-img {
      margin-top: 0px;
  }

  .hero-email-form {
      margin-top: 48px;
      margin-bottom: 0px;
      width:100%;
  }


  .text-field {
    height: 48px;
    width:60%;
    padding: 10px 16px;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: #20222b;
    -webkit-transition: background-color 300ms ease, border-color 300ms ease;
    transition: background-color 300ms ease, border-color 300ms ease;
    font-family: 'Space Grotesk', sans-serif;
    color: #fff;
    font-weight: 500;
  }

  .text-field:hover {
    border-color: #303fe1;
  }

  .text-field:focus {
    border-color: #303fe1;
    background-color: #151720;
  }

  .text-field::-webkit-input-placeholder {
    color: #5b5d63;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
  }

  .text-field:-ms-input-placeholder {
    color: #5b5d63;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
  }

  .text-field::-ms-input-placeholder {
    color: #5b5d63;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
  }

  .text-field::placeholder {
    color: #5b5d63;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
  }

  .text-field.big {
      height: 56px;
  }

  .submit-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 16px;
    margin-right: 16px;
    padding: 10px 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #303fe1;
    border-radius: 4px;
    background-color: #303fe1;
    -webkit-transition: border-color 300ms ease, color 300ms cubic-bezier(.23, 1, .32, 1), background-color 300ms ease;
    transition: border-color 300ms ease, color 300ms cubic-bezier(.23, 1, .32, 1), background-color 300ms ease;
    font-family: 'Space Grotesk', sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-decoration: none;
    text-transform: capitalize;
  }

  .submit-btn:hover {
    border-color: #fff;
    background-color: #fff;
    color: #303fe1;
  }

  .submit-btn.no-margin-top {
    height: 56px;
    margin-top: 0px;
    margin-left: 24px;	
  }

  .paragraph-4.about-me.waitlist-message {
      margin-top: 11px;
      font-size: 12px;
      line-height: 20px;
    }

    .subheading {
      display: inline-block;
      margin-bottom: 10px;
      margin-left: 20px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      font-family: Inter, sans-serif;
      color: #303fe1;
      font-size: 18px;
      line-height: 24px;
      font-weight: 700;
      letter-spacing: 0.2px;
      text-decoration: none;
      text-transform: uppercase;
    }

    .section-title {
      max-width: 50%;
      margin: 0px auto 16px;
      font-size: 42px;
      line-height: 48px;
    }

    .section-title.in-half-div {
      max-width: none;
      margin-bottom: 24px;
      margin-left: 20px;
      font-size: 54px;
      line-height: 60px;
    }

    .dropbtn {
      background-color: #151720;
      color: #E9F8FF;
      text-align: left;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      height:60px;
      width:100%;
      border-radius:10px;
    }

    .dropbtn:focus{
        outline: none;
    }

    .dropdown {
      position: relative;
      display: inline-block;
      padding-top: 20px;
      width:100%;
    }

    .dropdown-content {
      display: none;
      border-radius:10px;
      position: absolute;
      background-color: #151720;
      min-width: 100%;
      overflow:auto;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown-content p {
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }


    .show {display:block;}

    .hide
    {
        display:none;
    }

    .footer-text {
      margin-top: 16px;
      margin-bottom: 0px;
      -webkit-box-flex: 0;
      -webkit-flex: 0 auto;
      -ms-flex: 0 auto;
      flex: 0 auto;
      font-size: 14px;
      line-height: 20px;
    }

    .footer-title {
      margin-bottom: 16px;
      font-family: 'Space Grotesk', sans-serif;
      font-size: 24px;
      line-height: 30px;
      font-weight: 600;
  }

  .footer-link {
      padding-top: 4px;
      padding-bottom: 4px;
      -webkit-transition: color 300ms ease;
      transition: color 300ms ease;
      font-family: 'Space Grotesk', sans-serif;
      color: #c2c3c5;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
  }

  .footer-link:hover {
      color: #fff;
  }


  .footer-address-text {
      font-family:'Space Grotesk', sans-serif;
      color: #fff;
      font-weight:400;
  }

  .toggle-btn{
    display: flex;
    background-color: #20222B;
    height:40px;
    width: 180px;
    border-radius:10px;
    align-items: center;
    
  }

  .btn-text{
    cursor:pointer;
  }

  #anually{
    background-color: #373941;
    text-align: center;
    border-radius: 8px;
    margin: auto;
    height:25px;
    width:70px;
  }
  #monthly{
    background-color: #373941;
    text-align: center;
    border-radius: 8px;
    margin: auto;
    height:25px;
    width:70px;
  }

  .pricing-title {
    z-index: 4;
    margin-bottom: 24px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
  }

  hr{
    border:1px solid #2D2F37;
  }

  .copyright-text {
    margin-top:10px;
    font-family: 'Space Grotesk', sans-serif;
    color: #c2c3c5;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-decoration: none;
  }

  .copyright-text.white {
    color: #fff;
  }

  .container-3{
    margin-top:140px;
  }

  #row1{
    margin-top: 50px;
  }

  #about-me-img
  {
    width:100%;
  }

  @media only screen and (max-width:600px)
  {
  
    .row{
      display:block;
    }
  
    .container
    {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .col-2{
      min-width: 200px;
    }
  
    .hero-title{
      font-size: 40px;
    }
  
    .text-field{
      width:98%;
    }
  
    .submit-btn.no-margin-top {
      margin-left:0px;
      margin-top:20px;
    }
  
    .submit-btn{
      width:98%;
    }
  
  }

  @media only screen and (min-width:600px)
  {
  
    .col-2{
      min-width:500px;
    }
  
    .text-field{
      width:98%;
    }
  
    .submit-btn.no-margin-top {
      margin-left:0px;
      margin-top:20px;
    }
  
    .submit-btn{
      width:98%;
    }
  
    #row4{
      display: block;
    }
    
  
  }
  
  @media only screen and (min-width:700px)
  {
  
    .col-2{
      min-width:600px;
    }
  
    .text-field{
      width:98%;
    }
  
    .submit-btn.no-margin-top {
      margin-left:0px;
      margin-top:20px;
    }
  
    .submit-btn{
      width:98%;
    }
  
    .paragraph-4.about-me{
      font-size:20px;
    }
  
    #row4{
      display: block;
    }
  }
  
  @media only screen and (min-width:800px)
  {
  
    .col-2
    {
      min-width: 300px;
    }
    
    .hero-title{
      font-size:40px;
    }
  
    #row1{
      margin-top: 0px;
    }
  
    .paragraph-4.about-me{
      font-size: 14px;
    }
  
    #about-me-col{
      margin-top:80px;
    }
  
  }
  
  @media only screen and (min-width:1000px)
  {
  
    .text-field{
      width:40%;
    }
  
    .submit-btn{
      width:40%;
    }
  
    .submit-btn.no-margin-top{
      margin-left: 10px;
      margin-top: 0px;
    }
  
  }


  @media only screen and (min-width:1200px)
  {

    all:initial;

  }

  






